<h1>New Short Url</h1>

<div data-controller="short-urls">
    <ul data-short-urls-target="shortUrlErrors"></ul>
    <%= render 'form'%>
    <ul data-short-urls-target="shortUrlList">
    </ul>
</div>
